<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Rede Esports - Estrutura Bruta</title>
</head>
<body>
    <nav>
        <b>REDE ESPORTS</b> | 
        <a href="/">Home</a> | 
        <a href="/equipe/">Equipe</a> | 
        <a href="/comunidade/">Comunidade</a> |
        <a href="/dashboard/"><b>PAINEL DO REDATOR</b></a>
    </nav>
    <hr>

    {% block content %}
    {% endblock %}

    <hr>
    <footer>
        <p>Rede Esports © 2026 - Sistema de Teste Estrutural</p>
    </footer>
</body>
</html>