{% extends 'base.html' %}

{% block content %}
    <h1>Nossa Equipe</h1>
    <ul>
    {% for membro in membros %}
        <li>
            <b><a href="/equipe/{{ membro.usuario.username }}/">{{ membro.usuario.get_full_name|default:membro.usuario.username }}</a></b>
            <br>
            Cargos: 
            {% for cargo in membro.cargos.all %}
                [{{ cargo.nome }}]
            {% endfor %}
            <br>
            Membro desde: {{ membro.data_inicio }}
        </li>
        <br>
    {% endfor %}
    </ul>
{% endblock %}